Importing the libaries pandas for dataframe, Function train_test_split from sklearn for splitting the data into training set and test set, LogisticRegression function for model as finding the fraud detection of credit card is just a matter of yes or no meaning 0 or 1, which is a binary data hence logistic model.More over function accuracy_score from sklearn for determing the accuracy of our model.

In [19]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Loading the data set using pandas

In [34]:
df = pd.read_csv('/content/creditcard.csv')

checking the null values in data set

In [ ]:
df.isnull().sum()

cleaning the data set by droping the null values

In [ ]:
credit_card_data = df.dropna()

printing the data set

In [33]:
credit_card_data

<ipython-input-33-e51bc724cf82>:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/creditcard.csv')   # loading the data set

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112977,72878,-0.809166,1.031274,0.896685,-1.010452,-0.158963,-1.222943,0.709998,0.156250,-0.708360,...,0.156289,0.267405,-0.0632985335549451,0.475577,-0.215705,0.806805,-0.112920,0.056709,30.89,0.0
112978,72878,-0.760559,0.134733,1.449125,0.772003,-0.901165,0.044168,1.412660,-0.075483,-0.749272,...,0.026551,-0.381338,0.796182415271025,0.362986,-0.688207,0.103299,0.044479,0.171378,282.32,0.0
112979,72878,-2.617699,-1.308271,1.169065,0.863676,0.453336,-1.205048,0.746641,-0.381182,-0.201766,...,-0.465386,-0.359389,1.3411081969991,0.402229,-0.039798,0.299826,-0.068139,0.350012,124.92,0.0
112980,72878,-0.663649,0.382237,0.586369,-1.450981,-0.802590,-1.484491,0.073707,0.266853,-1.081694,...,0.319355,0.819814,-0.0277126913962194,0.730306,-0.289635,-0.347499,0.263921,0.155014,20.00,0.0
112981,72878,1.271910,-0.795829,1.006842,-0.528135,-1.486184,-0.200824,-1.032552,0.078426,-0.556756,...,-0.192441,0.029687,-0.0221096711226373,0.413052,0.177363,1.144201,-0.021856,0.009546,23.85,0.0

Describing the data set

In [ ]:
credit_card_data.describe()

Getting the information of data set

In [21]:
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29798 entries, 0 to 29797
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    29798 non-null  int64
 1   V1      29798 non-null  float64
 2   V2      29798 non-null  float64
 3   V3      29798 non-null  float64
 4   V4      29798 non-null  float64
 5   V5      29798 non-null  float64
 6   V6      29798 non-null  float64
 7   V7      29798 non-null  float64
 8   V8      29798 non-null  float64
 9   V9      29798 non-null  float64
 10  V10     29798 non-null  float64
 11  V11     29798 non-null  float64
 12  V12     29798 non-null  float64
 13  V13     29798 non-null  float64
 14  V14     29798 non-null  float64
 15  V15     29798 non-null  float64
 16  V16     29798 non-null  float64
 17  V17     29798 non-null  float64
 18  V18     29798 non-null  float64
 19  V19     29798 non-null  float64
 20  V20     29798 non-null  float64
 21  V21     29798 non-null  float64
 22  V22     29798 non-null  float64
 23  V23     29798 non-null  float64
 24  V24     29798 non-null  float64
 25  V25     29798 non-null  float64
 26  V26     29798 non-null  float64
 27  V27     29798 non-null  float64
 28  V28     29798 non-null  float64
 29  Amount  29798 non-null  float64
 30  Class   29798 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 7.3 MB

counting the total  1 values and 0 values in class column

In [22]:
credit_card_data['Class'].value_counts()

0.0    29704
1.0       94
Name: Class, dtype: int64

the number of zeros indicating the legal trasactions is quit large and number of ones indicating the fraud trasactions is small in the data set, so we need to create the new_data_set from the existing one for equal distribution of 0 and 1

In [23]:
legal = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]
legal
fraud

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
541,406,-2.312227,1.951992,-1.609851,3.997906,-0.522188,-1.426545,-2.537387,1.391657,-2.770089,...,0.517232,-0.035049,-0.465211,0.320198,0.044519,0.177840,0.261145,-0.143276,0.00,1.0
623,472,-3.043541,-3.157307,1.088463,2.288644,1.359805,-1.064823,0.325574,-0.067794,-0.270953,...,0.661696,0.435477,1.375966,-0.293803,0.279798,-0.145362,-0.252773,0.035764,529.00,1.0
4920,4462,-2.303350,1.759247,-0.359745,2.330243,-0.821628,-0.075788,0.562320,-0.399147,-0.238253,...,-0.294166,-0.932391,0.172726,-0.087330,-0.156114,-0.542628,0.039566,-0.153029,239.93,1.0
6108,6986,-4.397974,1.358367,-2.592844,2.679787,-1.128131,-1.706536,-3.496197,-0.248778,-0.247768,...,0.573574,0.176968,-0.436207,-0.053502,0.252405,-0.657488,-0.827136,0.849573,59.00,1.0
6329,7519,1.234235,3.019740,-4.304597,4.732795,3.624201,-1.357746,1.713445,-0.496358,-1.282858,...,-0.379068,-0.704181,-0.656805,-1.632653,1.488901,0.566797,-0.010016,0.146793,1.00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27362,34521,1.081234,0.416414,0.862919,2.520863,-0.005021,0.563341,-0.123372,0.223122,-0.673598,...,-0.159387,-0.305154,0.053620,0.011761,0.375146,-0.106299,0.021008,0.010559,1.52,1.0
27627,34634,0.333499,1.699873,-2.596561,3.643945,-0.585068,-0.654659,-2.275789,0.675229,-2.042416,...,0.469212,-0.144363,-0.317981,-0.769644,0.807855,0.228164,0.551002,0.305473,18.96,1.0
27738,34684,-2.439237,2.591458,-2.840126,1.286244,-1.777016,-1.436139,-2.206056,-2.282725,-0.292885,...,1.774460,-0.771390,0.065727,0.103916,-0.057578,0.242652,-0.268649,-0.743713,125.30,1.0
27749,34687,-0.860827,3.131790,-5.052968,5.420941,-2.494141,-1.811287,-5.479117,1.189472,-3.908206,...,1.192694,0.090356,-0.341881,-0.215924,1.053032,0.271139,1.373300,0.691195,19.02,1.0
29687,35585,-2.019001,1.491270,0.005222,0.817253,0.973252,-0.639268,-0.974073,-3.146929,-0.003159,...,2.839596,-1.185443,-0.142812,-0.086103,-0.329113,0.523601,0.626283,0.152440,0.76,1.0

In [24]:
print(legal.shape)
print(fraud.shape)

(29704, 31)
(94, 31)

In [25]:
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,21422.566422,-0.184395,0.106639,0.759413,0.194690,-0.186422,0.096790,-0.096841,0.018203,0.361273,...,0.044000,-0.035795,-0.122933,-0.041017,0.010051,0.131937,0.022275,0.009773,0.004475,79.57003
1.0,19007.702128,-8.099702,6.084984,-11.565958,6.014185,-5.681925,-2.370349,-7.912202,4.043743,-2.891421,...,0.679513,0.573983,-0.380899,-0.338752,-0.258204,0.352443,0.183181,0.830627,0.101053,95.59000

above we have compared the mean transaction of both class

creating the new data set containg the equal distribution of 0 and 1

In [26]:
new_legal = legal.sample(n=88)

now concatnate this legal transaction table with 88 zeros with the fraud table using pandas libary

we have got the new_data_set with legal transaction and fraud transaction equal in number

Concatinating the two tables named by new_legal and fraud

In [27]:
new_data_set = pd.concat([new_legal, fraud])
new_data_set

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
26343,34017,-1.356534,-0.741640,1.639658,0.258387,-0.019857,0.727019,-0.707832,0.378299,0.761243,...,-0.048126,0.357274,0.016311,-0.182068,-1.418891,0.940975,-0.099813,0.359417,84.65,0.0
15115,26466,-0.476428,1.041595,1.684262,-0.009778,-0.004764,-0.606008,0.659952,0.027660,-0.484514,...,-0.174763,-0.385758,0.040274,0.392555,-0.296777,0.079315,0.285343,0.121699,1.79,0.0
17900,29017,-0.614118,-0.647738,0.448439,-0.545782,0.965659,-0.524360,-0.077944,-0.096737,-2.163651,...,-0.213565,-0.414348,0.009184,-0.755351,-0.190527,1.342858,0.018635,0.121056,53.91,0.0
6363,7579,-0.510254,1.142216,2.104981,1.183339,0.141866,-0.099184,0.488675,-0.201551,0.715624,...,-0.153139,0.092433,-0.055248,0.252852,-0.346791,-0.474598,0.102470,-0.036466,5.00,0.0
24145,33088,1.166597,-0.155948,0.434363,0.384343,-0.427271,-0.132608,-0.168273,-0.006811,0.341815,...,-0.039969,0.080913,-0.168113,0.118436,0.572257,0.667821,-0.037217,0.000301,35.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27362,34521,1.081234,0.416414,0.862919,2.520863,-0.005021,0.563341,-0.123372,0.223122,-0.673598,...,-0.159387,-0.305154,0.053620,0.011761,0.375146,-0.106299,0.021008,0.010559,1.52,1.0
27627,34634,0.333499,1.699873,-2.596561,3.643945,-0.585068,-0.654659,-2.275789,0.675229,-2.042416,...,0.469212,-0.144363,-0.317981,-0.769644,0.807855,0.228164,0.551002,0.305473,18.96,1.0
27738,34684,-2.439237,2.591458,-2.840126,1.286244,-1.777016,-1.436139,-2.206056,-2.282725,-0.292885,...,1.774460,-0.771390,0.065727,0.103916,-0.057578,0.242652,-0.268649,-0.743713,125.30,1.0
27749,34687,-0.860827,3.131790,-5.052968,5.420941,-2.494141,-1.811287,-5.479117,1.189472,-3.908206,...,1.192694,0.090356,-0.341881,-0.215924,1.053032,0.271139,1.373300,0.691195,19.02,1.0
29687,35585,-2.019001,1.491270,0.005222,0.817253,0.973252,-0.639268,-0.974073,-3.146929,-0.003159,...,2.839596,-1.185443,-0.142812,-0.086103,-0.329113,0.523601,0.626283,0.152440,0.76,1.0

Splitting new_data set into features and targets(0,1)

X and Y representing the features and targets respectively.

In [28]:
X = new_data_set.drop(columns='Class', axis=1)
Y= new_data_set['Class']

Now we will split the data(X,Y) into training data and test data.

In [29]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y , test_size=0.4, stratify=Y, random_state = 2)

print(X.shape, X_train.shape, X_test.shape)
print(Y.shape, Y_train.shape, Y_test.shape)

(182, 30) (109, 30) (73, 30)
(182,) (109,) (73,)

Training the model

In [30]:
model = LogisticRegression()
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

finding the accuracy score of our model

Model evaluation based on accuarcy score;
accuracy on training data

In [31]:
X_train_predict = model.predict(X_train)
train_accuracy = accuracy_score(X_train_predict, Y_train)
print("accuracy on training data is : {}".format(train_accuracy))

accuracy on training data is : 0.9724770642201835

predicting the accuracy on test data

In [32]:
X_test_predict = model.predict(X_test)
test_accuarcy = accuracy_score(X_test_predict, Y_test)
print("the test accuracy is : {:.3f}".format((test_accuarcy)))

the test accuracy is : 0.973

since the accuracy score of training data set and test data set is almost the same hence our model works well.